# **Web Scraping: IMDB**

 **1: Imports**

In [1]:
from bs4 import BeautifulSoup as bs
import requests #to access website
import pandas as pd

**2: Load the webpage**

In [2]:
r = requests.get("https://www.imdb.com/chart/top/")

# Convert to a beautiful soup object
soup = bs(r.content)

# Print out HTML
contents = soup.prettify()
print(contents[:100])

<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
 <h

**3: Creating empty list**

In [3]:
movie_title = []
movie_year = []
movie_rating = []

**4: Extract HTML tag contents**

In [4]:
imdb_table = soup.find(class_="chart full-width")

In [5]:
movie_titlecolumn = imdb_table.find_all(class_="titleColumn")

In [6]:
movie_ratingscolumn = imdb_table.find_all(class_="ratingColumn imdbRating")

In [7]:
for row in movie_titlecolumn:
    title = row.a.text # tag content extraction
    movie_title.append(title)
movie_title[0:10]

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather Part II',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Good, the Bad and the Ugly']

In [8]:
for row in movie_titlecolumn:
    year = row.span.text # tag content extraction
    movie_year.append(year)
movie_year[0:10]

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(2001)',
 '(1966)']

In [9]:
for row in movie_ratingscolumn:
    rating = row.strong.text # tag content extraction
    movie_rating.append(rating)
movie_rating[0:10]

['9.2', '9.2', '9.0', '9.0', '9.0', '8.9', '8.9', '8.8', '8.8', '8.8']

**5: Create Dataframe**

In [10]:
movies= pd.DataFrame({'Movie Title': movie_title, 'Year of Release': movie_year, 'IMDb Rating': movie_rating})
movies.head(10)

,Movie Title,Year of Release,IMDb Rating
0,The Shawshank Redemption,(1994),9.2
1,The Godfather,(1972),9.2
2,The Dark Knight,(2008),9.0
3,The Godfather Part II,(1974),9.0
4,12 Angry Men,(1957),9.0
5,Schindler's List,(1993),8.9
6,The Lord of the Rings: The Return of the King,(2003),8.9
7,Pulp Fiction,(1994),8.8
8,The Lord of the Rings: The Fellowship of the Ring,(2001),8.8
9,"The Good, the Bad and the Ugly",(1966),8.8